extends layout2

block content

  meta(property="og:title", content="MaismetroBH")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://www.maismetrobh.com.br")
  meta(property="og:image", content="http://www.maismetrobh.com.br/images/Logoface.png")
  meta(name="description", content="+METRO é uma plataforma colaborativa de apoio às decisões sobre o transporte público em Belo Horizonte. Inspirado na Linie Funf, desenvolvida na cidade de Hamburg, o +Metro propõe criar um espaço para a formação de um debate público amplo, informativo e empoderador.")

  body
    div#logoP.container(style='padding-top:60px')
      div(class="col-xs-12 col-md-5", style='padding: 0px;')
        img.logo(src='../images/Logo.jpg')
        if (user)
          div(class="col-xs-12", style='padding: 5px; margin-top:-50px;')
            a#btnAddIdea(href='/addidea/', class='btn login', style="float: left !important;") Adicionar Trajeto
        if (!user)
          div(class="col-xs-12", style='padding: 5px; margin-top:-50px;')
            a#btnAddIdea(href='/login/', class='btn login', style="float: left !important;") Adicionar Trajeto
      div(class="col-xs-12 col-md-7")
        div.headline
          div
            texto Uma linha de
            textored  METRO
            texto  escolhida pelo povo
          div
            texto de
            textobold  Belo Horizonte
        ul.nav2(style='padding-right: 0px !important; padding-top: 14px !important; margin-left: -7px; margin-right: -7px;')
          div(class="col-xs-3", style="padding: 0px;")
            a(class='b', href="/login/")
              img.thumbs(src='../images/Thumbs/registo.jpg')
              p.thumbsTxt Crie sua conta
          if (user)
            div(class="col-xs-3", style="padding: 0px;")
              a(class='b', href="/addidea/")
                img.thumbs(src='../images/Thumbs/desenha.jpg')
                p.thumbsTxt Proponha seu trajeto
          if (!user)
            div(class="col-xs-3", style="padding: 0px;")
              a(class='b', href="/login/")
                img.thumbs(src='../images/Thumbs/desenha.jpg')
                p.thumbsTxt Proponha seu trajeto
          div(class="col-xs-3", style="padding: 0px;")
            a(class='b', href="#test-list")
              img.thumbs(src='../images/Thumbs/debate.jpg')
              p.thumbsTxt Entre no debate
          div(class="col-xs-3", style="padding: 0px;")
            a#media(class='b', href="#mainLogo")
              img.thumbs(src='../images/Thumbs/redes-sociais.jpg')
              p.thumbsTxt Compartilhe nas redes
            div.social.col-xs-12
              ul
                li.col-xs-4
                  a(name="fb_share", href="https://www.facebook.com/sharer/sharer.php?u=www.maismetrobh.com.br")
                    i.fa.fa-lg.fa-facebook
                li.col-xs-4
                  a(href='https://twitter.com/home?status=www.maismetrobh.com.br')
                    i.fa.fa-lg.fa-twitter
                li.col-xs-4
                  a(href='https://plus.google.com/share?url=www.maismetrobh.com.br')
                    i.fa.fa-lg.fa-google-plus



      //icones de navegacao

      div.container
        a.col-xs-12(style='padding-top:140px')
        div(id="test-list", class="col-xs-12", style='padding:0px;')
          h2(class="col-xs-12", style='margin: auto; padding-left:5px; padding-right:15px; font-size:36px')
            texto Trajetos
            textored  +
            texto  perto de você
          div(class="col-xs-12", style='font-size:40px; padding-left:5px; padding-right:39px; margin-top:10px;')
            p.h2(style='margin-top:10px;') Pesquisas Tags
            input#inputFilter(type='text', class='search incomment col-xs-12 col-md-6', placeholder='#Procurar', style='font-size:13px; padding:2px; margin-top:10px;')
            div(class="col-xs-12", style='font-size:40px; padding:0px; margin-top:10px;')
          ul(id='refs', class='list', style='margin: auto; padding-left:0px; padding-right:10px;')

            //icone para cada uma das ideias

            - each Idea in ideas
              li.row(id='node', class='col-xs-12 col-md-6', style='margin: auto; padding-left:5px; padding-right:5px;')
                div.row(style='margin: auto; width:100%')
                  p.ref(class='refs1')= Idea.refs[0]
                  p.ref(class='refs2')= Idea.refs[1]
                  p.ref(class='refs3')= Idea.refs[2]
                div.row(class='col-xs-12', style='margin: auto; padding: 0px; margin-top:10px;')
                  a(href="/ideas/"+Idea._id, class="icon")
                    div(style='margin-right:30px; margin-bottom:0px')

                    //desenho e rate

                    div.draw
                      div(id='#{Idea.id}')(style='height: 250px')
                    div.row(style='margin-top: 8px; margin-left:0px; margin-right:0px')
                      img.avatar(src=Idea.user.picture, style='float:left; padding: 0px; background-color:#fff')
                      div(class='col-xs-8 col-md-10', style='margin-top: auto; margin-bottom: auto; padding: 0px; margin-left:5px;')
                        p.txicon(class='col-xs-12', style='padding-left: 6px')= Idea.user.username
                        div(id='#{Idea.id}'+'m', class='col-xs-10')
                        p.txicon(class='col-xs-2', style='padding-left: 6px')= "("+Idea.rating.length+")"
                        p.txicon(class='col-xs-12', style='padding-left: 6px')= "Comentários "+Idea.comments.length

          // pagination

          div(class='col-xs-12')
            ul(class='pagination')

        //JQUERY
          //MAPS e RATE

        script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js')
        script(src='/javascripts/indexmap.js')

          //PAGINATION e SEARCH
        script(src='../bower_components/list.js/dist/list.js')
        script(src='../bower_components/list.pagination.js/dist/list.pagination.js')

  include ./footer.jade
