extends layout2

block content

  Head
    meta(property="og:title", content="MaismetroBH")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://www.maismetrobh.com.br")
    meta(property="og:image", content="http://www.maismetrobh.com.br/images/Logoface.png")
    meta(name="description", content="+METRO é uma plataforma colaborativa de apoio às decisões sobre o transporte público em Belo Horizonte. Inspirado na Linie Funf, desenvolvida na cidade de Hamburg, o +Metro propõe criar um espaço para a formação de um debate público amplo, informativo e empoderador.")

  body
    div.container
      div(class="col-xs-12 col-md-5", style='padding-right:0px;padding-left:0px;')
        img.logo(src='../images/Logo.jpg')
        a#btnAddIdea(href='/addidea/' class="btn btn-lg btn-danger" role="button" style='position:absolute;z-index:1; bottom: 0; left: 0;') Adicionar Trajeto
      div(class="col-xs-12 col-md-7", style='padding-right:0px;padding-left:0px;')
        div.headline
          div
            texto Uma linha de
            textored  METRO
            texto  escolhida pelo povo
          div
            texto de
            textobold  Belo Horizonte
        ul.nav2(style='padding-right: 0px !important; padding-top: 14px !important; margin-left: -7px; margin-right: -7px;')
          if (user)
            div(class="col-xs-3", style="padding: 0px;")
              a(class='b', href="/addidea/")
                img.thumbs(src='../images/Thumbs/registo.jpg')
                p.thumbsTxt Crie sua conta
          if (!user)
            div(class="col-xs-3", style="padding: 0px;")
              a(class='b', href="/login/")
                img.thumbs(src='../images/Thumbs/registo.jpg')
                p.thumbsTxt Crie sua conta
          div(class="col-xs-3", style="padding: 0px;")
            a(class='b', href="/addidea/")
              img.thumbs(src='../images/Thumbs/desenha.jpg')
              p.thumbsTxt Proponha seu trajeto
          div(class="col-xs-3", style="padding: 0px;")
            a(class='b', href="/debate")
              img.thumbs(src='../images/Thumbs/debate.jpg')
              p.thumbsTxt Entre no debate
          div(class="col-xs-3", style="padding: 0px;")
            a#media(class='b', href="#mainLogo")
              img.thumbs(src='../images/Thumbs/redes-sociais.jpg')
              p.thumbsTxt Compartilhe nas redes
            div.social.col-xs-12
              ul
                li.col-xs-4
                  a(name="fb_share", href="https://www.facebook.com/sharer/sharer.php?u=www.maismetrobh.com.br")
                    i.fa.fa-lg.fa-facebook
                li.col-xs-4
                  a(href='https://twitter.com/home?status=www.maismetrobh.com.br')
                    i.fa.fa-lg.fa-twitter
                li.col-xs-4
                  a(href='https://plus.google.com/share?url=www.maismetrobh.com.br')
                    i.fa.fa-lg.fa-google-plus



      //icones de navegacao
    div.container
      div(id="test-list")
        div(style='text-align:center;font-family:junegull !important; font-size:40px; background-color: #1ab9d8')
          textoyellow Qual é a sua proposta para o metrô de BH?
        ul.row(id='refs', class='list', style='margin: auto')

          //icone para cada uma das ideias

          - each Idea in ideas
            li(id='node', style='margin: auto;')
              div(style='position:absolute;z-index:1')
                h4
                  span.label.label-danger(class='refs1')= Idea.refs[0]
                h4
                  span.label.label-danger(class='refs2')= Idea.refs[1]
                h4
                  span.label.label-danger(class='refs3')= Idea.refs[2]
              div.row(class='col-xs-12', style='margin: auto; padding: 0px; margin-top:10px;')
                a(href="/ideas/"+Idea._id, class="icon")
                  div(style='margin-right:30px; margin-bottom:0px')

                  //desenho e rate

                  div(id='#{Idea.id}')(style='height: 250px; width:100%; border-radius:5px')
              div.userbox(style='position:absolute;z-index:1; bottom: 20px; right: 25px; padding:5px !important')
                img.avatar(src=Idea.user.picture, style='float:left; background-color:#fff')
                div.col-xs-8
                  p.txicon(class='uname')= Idea.user.username
                  div.col-xs-10(id='#{Idea.id}'+'m', style='padding-left:0px')
                  p.col-xs-2.txicon= "("+Idea.rating.length+")"
                  p.txicon= "Comentários "+Idea.comments.length
        div(style='margin-top:2px')
          a(class="twitter-grid" data-limit="3" data-partner="tweetdeck" href="https://twitter.com/mais_metro_bh/timelines/814178138741673984") MetroBH
           script(async src="//platform.twitter.com/widgets.js" charset="utf-8")
          // pagination



        //JQUERY
          //MAPS e RATE

        script(src='../javascripts/leaflet/leaflet-src.js')
        script(src='../javascripts/rate/jquery.rateyo.js')
        script(src='/javascripts/indexmap.js')
        script(src='/javascripts/analytics.js')

          //PAGINATION e SEARCH
        script(src='../javascripts/slider/jquery.bxslider.min.js')

  include ./footer.jade
