extends layout2

block content
    body
      div.container
        h1(style='text-align:center;') Sua Página
        div(class="row placeholders")
          div(class="col-xs-12 placeholder", style='float:center;')
            img(src='#{user.picture}', style='width=70px; height:70px;', class='img-responsive')
            h4 #{user.username}
            span(class="text-muted") #{user.email}
        div(class='col-xs-12')
          h2.sub-header Propostas
          div.table.table-striped
            table.table.table-striped
              thead
                tr
                  th
                  th referências
                  th data
                  th comentários
                  th avaliações
                  th
              tbody
                - each proposta in data
                  tr
                    td
                      img(src='../images/Metro_Logo.png', style='width:25px')
                    td #{proposta.refs}
                    td #{proposta.date}
                    td #{proposta.comments.length}
                    td #{proposta.rating.length}
                    td
                      button(id='#{proposta.refs}', data-selector="#{proposta._id}") Apagar


    include ./footer.jade


    // Scripts
    script(src='/javascripts/delete.js')
